<div class="w-fit p-4 bg-slate-100 flex flex-col">

  <div class="w-full">
    <button
      class="button-tertiary w-fit"
      (click)="navigateBack()"
    > back </button>
  </div>

  <div class="my-5">
    <p> {{ productCart?.product?.name }} </p>
    <p> price: {{ productCart?.product?.price }} </p>  
  </div>

  <div class="flex flex-row gap-4" *ngIf="productCart">
    <input type="number" class="w-20 p-2"
      [(ngModel)]="productCart!.amount">
    <button class="button-primary w-36" (click)="addToCart()"> Add to Cart </button>
  </div>

</div>