<div *ngIf="product" class="w-fit bg-slate-100 flex flex-row">

  <div class="w-72 h-72 bg-slate-200 flex bg-cover bg-no-repeat bg-center"
    style="background-image: url(assets/placeholder.png);">
  </div>

  <div class="flex flex-col gap-8 p-4">

    <div class="mb-5">
      <p class="text-2xl font-bold"> {{ product.name }} </p>
      <p> price: {{ product.price }} </p>  
    </div>

    <div class="flex flex-row gap-4">
      <!-- TODO: number input ignores min/max on key input -->
      <input class="w-20 p-2" type="number" [min]="1" [max]="64" [(ngModel)]="amount">
      <button class="button-primary w-36" (click)="addToCart()"> Add to Cart </button>
    </div>

  </div>

</div>